.cheveron {
    font-size: 11px;
}

.bg {
    background-color: #040E28;
}

.font {
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}